* {
    box-sizing: border-box;
}

.board {
    width: 625px;
    width: 625px;
    background: "#F4F4F4";
    display: flex;
    flex-wrap: wrap;
}

.cell-one {
    width: 25px;
    height: 25px;
    background: #aad751;
}

.cell-two {
    width: 25px;
    height: 25px;
    background: #a2d149;
}

.cell-snake {
    width: 25px;
    height: 25px;
    background: #4774ea;
}

.cell-snake-head {
    width: 25px;
    height: 25px;
    background: #ffffff;
}

.cell-prize {
    width: 25px;
    height: 25px;
    background: #e7471d;
}